// see https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
// see http://fxexperience.com/2011/12/styling-fx-buttons-with-css/

#calculator {
                                          -fx-background-color: #3A3A3A;
                                      }

Button {
    -fx-background-color: DeepSkyBlue;
    -fx-border-color: #477887;
    -fx-text-color: #ffb732;

}

Button:hover {
    -fx-background-color: #ffb732;
    -fx-border-color:

}

Label {
    -fx-font-size: 25;
}

