

#calculator {
                                          -fx-background-color: #3A3A3A;
                                      }

Button {
    -fx-background-color: DeepSkyBlue;
    -fx-border-color: #477887;
    -fx-text-color: #ffb732;

}

Button:hover {
    -fx-background-color: #ffb732;

}

Label {
    -fx-font-size: 25;
}

